$blueColor : #a48cfb;
$whiteColor :#fafafb;
$grayColor :#7f858c;
$yelloColor: #fac608;
$lightBlueColor: #40d4f4;
$lightBrownColor: #b49baa;
$color-iconc :#cf97fd;
// $grayColor2: #0a0ae0df;
$lightYelloColor: #bcb7af;
$burbleColor:#fd99af;
