*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;

}
.cardCoontainer{
    background-color: gray;
    width: 150px;
    border-radius: 15px;
    padding: 10px;
    // padding-left: 25px;
}
.containerName{
    // background-color: green;
width: 90%;
padding: 10px;

}
.singleCard{
    background-color: bisque;
    border-radius: 15px;
width: 90%;
padding: 10px;
// padding-left: calc(25px - 5%);
}
.taskContainer{
    display: flex;
}
.hidden{
    display: none;
}
